.actions {
  display: flex;
  justify-content: center;

  button {
    margin-left: 1rem;
  }
}

#grid {
  margin: 40px auto;
}

.real-grid {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  width: fit-content;
  box-shadow: inset 0px -7px 10px -7px #0006;
  border-radius: 4px;

  // https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  .real-columns {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 9px -1px rgb(0 0 0 / 40%);
    z-index: 2;
    border-bottom: solid #17a5e6 4px;

    .real-column {
      padding: 6px 10px;
      background-color: #e0e0e0;
      cursor: pointer;
      font-weight: bold;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      transform: translateY(2px);

      &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      // Ellipses
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;

      &:hover {
        background-color: darken($color: #e0e0e0, $amount: 5%);
      }

      .real-sort-icon {
        margin-left: 5px;
        font-size: 0.8rem;

        &.real-desc {
          transform: rotate(180deg);
        }
      }
    }
  }

  .real-rows {
    flex-direction: column;
    overflow-y: scroll;

    .real-row {
      display: flex;
      flex-direction: row;
      width: fit-content;
      z-index: -1;
      align-items: center;

      transition: ease-in-out 130ms background-color;

      &.real-selected {
        background-color: #bcddf2 !important;
      }

      &.real-striped {
        &:nth-child(odd) {
          background-color: #f0f0f0;
        }

        &:hover {
          background-color: #e0e0e0;
        }
      }

      .real-cell {
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        transition: background-color 130ms ease-in-out;
        
        &.real-selected {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: darken($color: #17a5e6, $amount: 20%);
            opacity: 0.2;
          }
        }

        &.real-copied {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: real-copied 200ms;
          }
        }
      }
    }
  }
}

@keyframes real-copied {
  0% {
    background-color: darken($color: #17a5e6, $amount: 20%);
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    background-color: darken($color: #17a5e6, $amount: 20%);
    opacity: 0.2;
  }
}